<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Document</title>
    <style>
        #head {
            color: white;
        }

        .img {
            height: 100%;
            width: 100px;
            margin: 0;
            padding: 0;
        }

        #head:hover {
            transform: scale(1.5);
            color: chartreuse;

        }

        body {
            background-color:#383838;
        }

        #gif {
            background-image: url('https://media.giphy.com/media/vO2ByH5dWCJEc/giphy.gif');


        }
    </style>
</head>

<body>
    <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">


        <div>
            <img src="images/corona.jpg" class="img">
        </div>



        <ul class="navbar-nav mx-auto ">

            <li class="nav-item mx-auto" style="width: 50px;"><a class="nav-link" href="/"><i
                        class="fa fa-home"></i></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" href="/region">Region</a></li>
            {{!-- <li class="nav-item"><a class="nav-link" href="/history">History</a></li> --}}
            <li class="nav-item"><a class="nav-link" href="/precautions">Precautions</a></li>

        </ul>

        <h1 id='head' class="mx-auto" style="width: 500px;">
            HISTORY

        </h1>

        <div>
            <h1 style="color: chocolate;
                            float: right;">
                CORONA
            </h1>

        </div>


    </nav>
    <h1 class="display-2"
        style="text-align: center;color:white;margin-top:100px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        <span style="color: red;">Coronavirus</span> Disease <span style="color: red;">(COVID-19)</span>
    </h1>

    <div class="progress" style="text-align:center;">
        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            style="background-color: red;width:70%;">
            <b style="color:yellow"> 70% Complete (danger)</b>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4"
            style="color: white;height:fit-content; margin-top:40px;font-weight:bolder;font-size:larger;margin-left:50px;">
            Human coronaviruses, first characterized in the 1960s, are responsible for a substantial proportion of upper
            respiratory
            tract infections in children. Since 2003, at least 5 new human coronaviruses have been identified, including
            the severe
            acute respiratory syndrome coronavirus, which caused significant morbidity and mortality. NL63, representing
            a group of
            newly identified group I coronaviruses that includes NL and the New Haven coronavirus, has been identified
            worldwide.
            These viruses are associated with both upper and lower respiratory tract disease and are likely common human
            pathogens.
            The global distribution of a newly identified group II coronavirus, HKU1, has not yet been established.
            Coronavirology
            has advanced significantly in the past few years. The SARS epidemic put the animal coronaviruses in the
            spotlight. The
            background and history relative to this important and expanding research area are reviewed here.

        </div>
        <div class="col-lg-6" id='gif' style="height: 600px;margin-left:70px; margin-top:40px;">

        </div>
    </div>


    <h1 class="display-2"
        style="text-align: center;color:aqua;margin-top:70px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        HISTORY
    </h1>


    <div class="row">
        <div class="col-sm-6"
            style="color: white;height:fit-content; margin-top:40px;font-weight:bolder;font-size:larger;">
            The history of human coronaviruses began in 1965 when Tyrrell and Bynoe1 found that they could passage a
            virus named
            B814. It was found in human embryonic tracheal organ cultures obtained from the respiratory tract of an
            adult with a
            common cold. The presence of an infectious agent was demonstrated by inoculating the medium from these
            cultures
            intranasally in human volunteers; colds were produced in a significant proportion of subjects, but Tyrrell
            and Bynoe
            were unable to grow the agent in tissue culture at that time. At about the same time, Hamre and Procknow2
            were able to
            grow a virus with unusual properties in tissue culture from samples obtained from medical students with
            colds. Both B814
            and Hamre's virus, which she called 229E, were ether-sensitive and therefore presumably required a
            lipid-containing coat
            for infectivity, but these 2 viruses were not related to any known myxo- or paramyxoviruses. While working
            in the
            laboratory of Robert Chanock at the National Institutes of Health, McIntosh et al3 reported the recovery of
            multiple
            strains of ether-sensitive agents from the human respiratory tract by using a technique similar to that of
            Tyrrell and
            Bynoe. These viruses were termed “OC” to designate that they were grown in organ cultures.

        </div>
        <div class="col-sm-6"
            style="color: white;height:fit-content; margin-top:40px;font-weight:bolder;font-size:larger;">
            Within the same time frame, Almeida and Tyrrell4 performed electron microscopy on fluids from organ cultures
            infected
            with B814 and found particles that resembled the infectious bronchitis virus of chickens. The particles were
            medium
            sized (80–150 nm), pleomorphic, membrane-coated, and covered with widely spaced club-shaped surface
            projections. The
            229E agent identified by Hamre and Procknow2 and the previous OC viruses identified by McIntosh et al3 had a
            similar
            morphology.
            Ongoing research using serologic techniques has resulted in a considerable amount of information regarding
            the
            epidemiology of the human respiratory coronaviruses. It was found that in temperate climates, respiratory
            coronavirus
            infections occur more often in the winter and spring than in the summer and fall. Data revealed that
            coronavirus
            infections contribute as much as 35% of the total respiratory viral activity during epidemics. Overall, he
            proportion of
            adult colds produced by coronaviruses was estimated at 15%.

        </div>


    </div>

    <div class="row">
        <div class="col-lg-12" style="text-align: center;margin-top:30px;">
            <img src="https://media.giphy.com/media/dVuyBgq2z5gVBkFtDc/giphy.gif" alt='Corona' />
            corona

        </div>

    </div>
    <div class="row">
        <div class="col-sm-6"
            style="color: white;height:fit-content; margin-top:40px;font-weight:bolder;font-size:larger;">
            In the 3 decades after discovery, human strains OC43 and 229E were studied exclusively, largely because they
            were the
            easiest ones to work with. OC43, adapted to growth in suckling mouse brain and subsequently to tissue
            culture, was found
            to be closely related to mouse hepatitis virus. Strain 229E was grown in tissue culture directly from
            clinical samples.
            The 2 viruses demonstrated periodicity, with large epidemics occurring at 2- to 3-year intervals.9 Strain
            229E tended to
            be epidemic throughout the United States, whereas strain OC43 was more predisposed to localized outbreaks.
            As with many
            other respiratory viruses, reinfection was common.10 Infection could occur at any age, but it was most
            common in
            children.

        </div>
        <div class="col-sm-6"
            style="color: white;height:fit-content; margin-top:40px;font-weight:bolder;font-size:larger;">
            Despite the extensive focus placed exclusively on strains 229E and OC43, it was clear that there were other
            coronavirus
            strains as well. As shown by Bradburne,11 coronavirus strain B814 was not serologically identical with
            either OC43 or
            229E. Contributing to the various strain differences in the family of coronaviruses, McIntosh et al12 found
            that 3 of
            the 6 strains previously identified were only distantly related to OC43 or 229E.
            <b style="color: aqua;">These viruses were also shown to be able to produce asthma exacerbations in children
                as well as chronic bronchitis in
                adults and the elderly.</b>

        </div>


    </div>
    <div class="row">
        <div class="col-lg-6" style="text-align: center;margin-top:30px;">
            <img src="https://media.giphy.com/media/MZ3PAE7IC93YE84CWT/giphy.gif" alt='Corona' />

        </div>
        <div class="col-lg-6"
            style="color: white;height:fit-content; margin-top:40px;font-weight:bolder;font-size:larger;">
            While research was proceeding to explore the pathogenicity and epidemiology of the human coronaviruses, the
            number and
            importance of animal coronaviruses were growing rapidly. Coronaviruses were described that caused disease in
            multiple
            animal species, including rats, mice, chickens, turkeys, calves, dogs, cats, rabbits and pigs. Animal
            studies included,
            but were not limited to, research that focused on respiratory disorders. Study focus included disorders such
            as
            gastroenteritis, hepatitis and encephalitis in mice; pneumonitis and sialodacryoadenitis in rats; and
            infectious
            peritonitis in cats.
            Pathogenesis of these disease states was various and complex, demonstrating that the genus as a whole was
            capable of a
            wide variety of disease mechanisms.

        </div>

        <h1 class="display-2"
            style="text-align: center;color:white;margin-top:100px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
            CORONAVIRUS GENOME AND STRUCTURE
        </h1>

        <div class="row">
            <div class="col-sm-6"  style=" margin-top:40px;">
                <div style="border-radius: 10px;background-color:crimson;margin:auto;margin-left:100px;margin-top:40px;height:fit-content;font-weight:bolder;font-size:larger;">
                    Coronaviruses are medium-sized RNA viruses with a very characteristic appearance in electron
                    micrographs of negatively
                    stained preparations. The nucleic acid is about 30 kb long, positive in sense, single
                    stranded and
                    polyadenylated. The RNA is the largest known viral RNA and codes for a large polyprotein. This
                    polyprotein is cleaved by
                    viral-encoded proteases to form the following: an RNA-dependent RNA polymerase and an ATPase
                    helicase; a surface
                    hemagglutinin-esterase protein present on OC43 and several other group II coronaviruses; the large
                    surface glycoprotein
                    (S protein) that forms the petal-shaped surface projections; a small envelope protein (E protein); a
                    membrane
                    glycoprotein (M protein); and a nucleocapsid protein (N protein) that forms a complex with the RNA.
                    The coding functions
                    of several other ORFs are not clear. The strategy of replication of coronaviruses involves a nested
                    set of messenger
                    RNAs with common polyadenylated 3-ends. Only the unique portion of the 5-end is translated.21
                    Mutations are common in
                    nature. In addition, coronaviruses are capable of genetic recombination if 2 viruses infect the same
                    cell at the same
                    time.
                </div>


            </div>
            <div class="col-sm-6" style=" margin-top:40px;">
                <br>
                <br>
                <img src="images/history2.jpeg" alt="image" style="margin-left: 40px;">
                 {{!-- <img src="history3.jpg" alt="image">  --}}
                 <br>
                 <br>
                 <br>


               <img src="images/history3.jpeg" alt="image" style="margin-left: 40px;"> 

            </div>

        </div>

       

<h1 class="display-2"
    style="margin:auto;color:white;margin-top:100px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
    SUMMARY
</h1>
<div class="row" style="text-align:center ;">

    <div class="col-sm-8" style="margin:auto;color: aquamarine;height:fit-content; margin-top:40px;font-weight:bolder;font-size:larger;">
        The field of coronavirology has advanced significantly in recent years. The SARS epidemic was a dramatic reminder that
        animal coronaviruses are potential threats to the human population, although the exact mechanism of species-to-species
        spread of the SARS coronavirus remains obscure. NL63 has been identified in many countries. This virus and the related
        viruses NL and HCoV-NH are likely the cause of a substantial proportion of respiratory tract disease in infants and
        children. The impact of HKU1 is not yet known. It seems clear that the coronaviruses infecting humans and causing
        respiratory disease are heterogeneous and quite widely distributed among groups I and II. It may be that some of the
        newer coronaviruses represent strains similar to the original B814 and OC strains that could not be further
        characterized in the 1960s. Additional human coronavirus strains will very likely be discovered, which stresses the need
        for further investigation into the virology and etiology of these infectious organisms.

    </div>

</div>




</body>

</html>