<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Precaution</title>
    <style>
        body {
            background-color: black;
        }

        .navigationbar {
            margin: 0px;
        }

        .hand {
            display: inline;
        }

        #head {
            color: white;
        }

        #head:hover {
            transform: scale(1.2);
            color: chartreuse;

        }

        .img {
            height: 100%;
            width: 100px;
            margin-top: 0px;
            padding: 0;
        }

        .who {
            margin-top: 100px;
            background-color: white;
            padding: 0%;


        }

        .imgwho {
            width: 300px;
            height: 400px;

        }

        .info {

            background-color: white;
            height: 100%;
            width: 50%;
            margin-top: 100px;


        }

        .text {
            float: right;
            margin: 0px;
            padding: 0;
        }

        .gif {
            background-image: url('https://media.giphy.com/media/fwPe3LjzMIF1i8AmQ6/giphy.gif');
            height: 500px;
            width: 500px;
            padding: 0;
            margin: auto;

        }

        .hvr-grow {
            display: inline-block;
            vertical-align: middle;
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            transition-duration: 0.3s;
            transition-property: transform;
        }

        .hvr-grow:hover,
        .hvr-grow:focus,
        .hvr-grow:active {
            transform: scale(1.1);
        }

    
    </style>
</head>

<body>
    <div class="navigationbar">
        <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">


            <div class="logo-image">
                <img src="images/corona.jpg" class="img">
            </div>

            <ul class="navbar-nav mx-auto ">

                <li class="nav-item mx-auto" style="width: 50px;"><a class="nav-link" href="/"><i
                            class="fa fa-home"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/region">Region</a></li>
                <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                {{!-- <li class="nav-item"><a class="nav-link" href="/precautions">Precautions</a></li> --}}

            </ul>

            <h1 id='head' class="mx-auto" style="width: 500px;">
                PRECAUTIONS
            </h1>

            <div>
                <h1 style="color: chocolate;
                    float: right;">
                    CORONA
                </h1>

            </div>


        </nav>

    </div>
    <div class="who">

        <span>
            <img src="images/w1.png" alt="who logo" class="left">
        </span>

        <div class="abt container" style="
            width:50%;
            display:inline-block;">
            <span style="color: red; font-size:40px" class="d">
                Steps taken by W.H.O to prevent Covid-19
            </span>
            <br>
            <span>

            </span>
        </div>
    </div>


    <h1 class="display-2"
        style="text-align: center;color:aqua;margin-top:70px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        ADVICE FOR PUBLIC
    </h1>

    <div class="row">

        <div class="col-sm-5"
            style="margin-left: 20px; color:white;margin-top:40px;font-weight:bolder;height:fit-content;">
            <b style="color: brown;font-size:larger;">Avoid touching eyes, nose and mouth</b>
            <br>
            <br>

            <b style="color: yellow;">Why?</b>
            <br>
            Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to your
            eyes,
            nose or mouth. From there, the virus can enter your body and can make you sick.
            <br>
            <br>


            <b style="color: chocolate;font-size:larger;">Practice respiratory hygiene</b>
            <br>
            <br>
            Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth
            and nose with
            your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue immediately.
            <br>
            <br>

            <b style="color: yellow;">Why?</b>
            <br>

            Droplets spread virus. By following good respiratory hygiene you protect the people around you from viruses
            such as
            cold, flu and COVID-19.
            <br>
            <br>


            If you have fever, cough and difficulty breathing, seek medical care early
            Stay home if you feel unwell. If you have a fever, cough and difficulty breathing, seek medical attention
            and call in
            advance. Follow the directions of your local health authority.
            <br>
            <br>

            <b style="color: yellow;">Why?</b>
            <br>
            National and local authorities will have the most up to date information on the situation in your area.
            Calling in
            advance will allow your health care provider to quickly direct you to the right health facility. This will
            also protect
            you and help prevent spread of viruses and other infections.


        </div>
        <div class="col-sm-6" style="margin-top:40px;">
            <br>
            <br>
            <br>
            <img src="https://media.giphy.com/media/IbmS6XKR5fTVchlxcN/giphy.gif" alt="corona" style="height:600px; border-radius: 5px;">

        </div>

    </div>

    <h1 class="display-4"
        style="text-align:center;color:white;margin-top:70px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">
        Protection measures for persons who are in or have recently visited (past 14 days) areas where COVID-19 is
        spreading
    </h1>
    <div class="row">
        <div class="col-sm-12" style="text-align: center;margin-top:70px;">

            <ul style="color: coral;font-weight:bolder;font-size:medium;">
                <li>
                    Stay at home if you begin to feel unwell, even with mild symptoms such as headache and slight runny
                    nose, until you
                    recover.
                    <br>
                    <b style="color: yellow;">Why?</b>
                    <br>
                    Avoiding contact with others and visits to medical facilities will allow these
                    facilities to operate more
                    effectively and help protect you and others from possible COVID-19 and other viruses.
                </li>
                <li style="margin-top: 40px;">
                    If you develop fever, cough and difficulty breathing, seek medical advice promptly as this may be
                    due to a respiratory
                    infection or other serious condition. Call in advance and tell your provider of any recent travel or
                    contact with
                    travelers. <br>
                    <b style="color: yellow;">Why?</b>
                    <br>

                    Calling in advance will allow your health care provider to quickly direct you to the
                    right health
                    facility. This will also help to prevent possible spread of COVID-19 and other viruses.
                </li>
            </ul>


        </div>
    </div>

    <div class="row " style="margin-top: 70px;">
        <div class="col-sm-4 hvr-grow">
            <img src="images/precaution1.jpg" alt="precaution" style="width: 400px;height:400px;margin-left:20px; border-radius: 5px;">

        </div>
        <div class="col-sm-4 hvr-grow">
            <img src="images/precaution2.jpg" alt="precaution" style="width: 400px;height:400px; border-radius: 5px;">

        </div>
        <div class="col-sm-4 hvr-grow">
            <img src="images/precaution3.jpg" alt="precaution" style="width: 400px;height:400px;margin-left:-10px; border-radius: 5px;">
        </div>

    </div>

    <div class="row " style="margin-top: 70px;">
        <div class="col-sm-4 hvr-grow">
            <img src="images/precaution5.png" alt="precaution" style="width: 400px;height:400px;margin-left:20px; border-radius: 5px;">
    
        </div>
        <div class="col-sm-4 hvr-grow">
            <img src="images/precaution4.png" alt="precaution" style="width: 400px;height:400px;border-radius: 5px;">
    
        </div>
        <div class="col-sm-4 hvr-grow">
            <img src="images/precaution9.png" alt="precaution" style="width: 400px;height:400px;margin-left:-10px;border-radius: 5px;">
        </div>
    
    </div>
    <div class="row " style="margin-top: 70px;margin-bottom:30px; ">
        <div class="col-sm-4 hvr-grow">
            <img src="images/precaution6.png" alt="precaution" style="width: 400px;height:400px;margin-left:20px; border-radius: 5px;">
    
        </div>
        <div class="col-sm-4 hvr-grow">
            <img src="images/precaution7.png" alt="precaution" style="width: 400px;height:400px;border-radius: 5px;">
    
        </div>
        <div class="col-sm-4 hvr-grow">
            <img src="images/precaution8.png" alt="precaution" style="width: 400px;height:400px;margin-left:-10px;border-radius: 5px;">
        </div>
    
    </div>

</body>

</html>