<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <title>Region</title>
    <style>
        #head {
            color: white;
        }

        .img {
            height: 100%;
            width: 100px;
            margin: 0;
            padding: 0;
        }
          .blinking {
            animation: blinkingText 1.2s infinite;
        }

        @keyframes blinkingText {
            0% {
                color: red;
            }

            49% {
                color: green;

            }

            60% {
                color: transparent;
            }

            99% {
                color: transparent;
            }

            100% {
                color: yellow;

            }

        }

        .row {
            
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .card{
            background-color: #DCDCDC;
        }

        #head:hover {
            transform: scale(1.2);
            color: chartreuse;

        }

       
    </style>
</head>

<body>
    <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">


        <div>
            <img src="images/corona.jpg" class="img">
        </div>
        <ul class="navbar-nav mx-auto ">

            <li class="nav-item mx-auto" style="width: 50px;"><a class="nav-link" href="/"><i
                        class="fa fa-home"></i></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
            {{!-- <li class="nav-item"><a class="nav-link" href="/region">Region</a></li> --}}
            <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
            <li class="nav-item"><a class="nav-link" href="/precautions">Precautions</a></li>

        </ul>

        <h1 id='head' class="mx-auto" style="width: 500px;">
            REGION
        </h1>

        <div>
            <h1 style="color: chocolate;
                        float: right;">
                CORONA
            </h1>

        </div>


    </nav>

    <div class="row">
        <div class="col-sm-12" style="margin-top:50px;">
            <h1 class="display-4" style="color: rgb(141, 73, 190);text-align:center;">
                <b>CORONA STATISTICS BASED ON <span  class="blinking">COUNTRY</span></b>
            </h1>
        </div>

    </div>


    <div class="input-group mb-3" style=" width:60%;margin:auto;margin-top: 60px;">
        <input id="inp" type="text" class="form-control" placeholder="Country name" aria-label="Recipient's username"
            aria-describedby="button-addon2" style="background-color: rgb(202, 207, 205);text-align:center;">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="doingrequest()">
                Search</button>
        </div>
    </div>

    <h2 class="display-4" style="text-align: center;margin-top:50px;">
        Country : <span style="color:#8ACA2B;" id="countryname">--</span>
    </h2>

    <div class="row" style="margin-top: 100px;">
        <div class="card " style="margin-top:50px;width:20rem;">
            <img src="https://media.giphy.com/media/UUsOy6IWmzw6mmeOpQ/giphy.gif" class="card-img-top" alt="corona img"
                style="width: 318px;height:178px;">
            <div class="card-body">

                <h1 class="card-text " style="text-align: center;">Active Cases</h1>

                <h1 class="display-3" style="color: grey;text-align:center;margin-bottom:0px;" id="active">--</h1>
            </div>
        </div>
        <div class="card " style="margin-top:50px;width:20rem;">
            <img src="https://media.giphy.com/media/dVuyBgq2z5gVBkFtDc/giphy.gif " class="card-img-top" alt="corona img"
                style="width: 318px;">
            <div class="card-body">

                <h1 class="card-text " style="text-align: center;">DEATHS</h1>

                <h1 class="display-3" style="color: black;text-align:center;margin-bottom:0px;" id="death">--</h1>
            </div>
        </div>
        <div class="card " style="margin-top:50px;width:20rem;">
            <img src="images/corona.jpg" class="card-img-top" alt="corona img" style="width: 318px;">
            <div class="card-body">

                <h1 class="card-text " style="text-align: center;">Recovered</h1>

                <h1 class="display-3" style="color: #8ACA2B;;text-align:center;margin-bottom:0px;" id="recovery">--</h1>
            </div>
        </div>

    </div>

    <div class="container" style="margin-top: 100px;background-color:aliceblue;">
        <canvas id="activecaseschart"></canvas>
    </div>
    <div class="container" style="margin-top: 100px;background-color:aliceblue;">
        <canvas id="deathcaseschart"></canvas>
    </div>

    <div class="container" style="margin-top:100px;margin-bottom:30px;background-color:aliceblue;">
        <canvas id="recoveredcaseschart"></canvas>
    </div>



    <!-- Newsletter -->
    <div style="margin-top: 100px; background-color: aliceblue;">
        <div class="container mb-5" style="padding: 100px;">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <h3 class="display-5" style="color: goldenrod;">
                                Subsribe Newsletter
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Dolore ex temporibus magni ipsam inventore dolorum sunt, amet
                                vel.
                            </p>
                        </div>
                        <form class="col-12 mb-5">
                            <div class="row align-items-center">
                                <div class="col-md-8 mb-3 mb-md-0">
                                    <input type="text" class="form-control" placeholder="Enter Email Address" />
                                </div>
                                <div class="col-md-4">
                                    <input type="submit" class="btn btn-primary btn-block" value="Subscribe" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 mb-5">
                <h3 id="About">About Us</h3>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatibus et dolor blanditiis consequuntur ex voluptates
                    perspiciatis omnis unde minima expedita.
                </p>
                <ul class="list-unstyled footer-link d-flex footer-social">
                    <li>
                        <a href="#" class="p-2"><span><i class="fab fa-twitter" style="color: orangered;"></i></span></a>
                    </li>
                    <li>
                        <a href="#" class="p-2"><span class="fab fa-facebook" style="color: orangered;"></span></a>
                    </li>
                    <li>
                        <a href="#" class="p-2"><span class="fab fa-linkedin" style="color: orangered;"></span></a>
                    </li>
                    <li>
                        <a href="#" class="p-2"><span class="fab fa-instagram" style="color: orangered;"></span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 mb-5">
    
                <div>
                    <h3>Contact Info</h3>
                    <ul class="list-unstyled footer-link">
                        {{!-- <li class="d-block">
                                <span class="d-block text-black">Address:</span>
                                <span>34 Street Name, City Name Here, India</span>
                            </li> --}}
                        <li class="d-block">
                            <span class="d-block text-black">Phone:</span><span>+1 242 4942 290</span>
                        </li>
                        <li class="d-block">
                            <span class="d-block text-black">Email:</span><span>info@yourdomain.com</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <h3>Quick Links</h3>
                <ul class="list-unstyled footer-link">
                    <br />
                    <li>
                        <a href="#" style="color: #f07612; line-height: 1.5;">About</a>
                    </li>
                    <br />
    
                    <li>
                        <a href="#" style="color: #f07612; line-height: 1.5;">Terms of Use</a>
                    </li>
                    <br />
                    <li>
                        <a href="#" style="color: #f07612; line-height: 1.5;">Disclaimers</a>
                    </li>
                    <br />
                    <li>
                        <a href="#" style="color: #f07612; line-height: 1.5;">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-12 text-md-center text-left">
                <p>
                    Copyright ©
                    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
                    <script type="text/javascript">
                        document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This is made with
                    <i class="fa fa-heart text-danger" aria-hidden="true"></i> by
                    <a href="#" target="_blank">CORONA</a>
                </p>
            </div>
        </div>
    </div>

</body>

</html>